# virtual environments
env
venv
.venv

# sensitive data
.env

# data
media
*.sqlite3
.json
staticfiles

# IDE
**/__pycache__
.parcel-cache
.vscode


node_modules

foodcartapp/migrations/0039_add_test_data.py